<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Join the best dating app</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Get your free account</h1>
      <p>This app is the best.</p>
    </div>
  </div>
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Sign Up</h4>
    </div>
    <div class="card-body">
      <p>Click below to get started</p>
      <%= link_to "Sign up now", new_account_registration_path, class:"btn btn-lg btn-block btn-primary" %>
    </div>
  </div>
</div>
