<div class="bg-danger profile-bar">
  <%= link_to "Sign Out", destroy_account_session_path, method: :delete, class: "float-right text-white mt-2" %>

  <% if current_account.images.size > 0 %>
    <%= link_to image_tag(current_account.images.first, width: "40px", height: "40px", class: "float-left profile-thumb rounded-circle mr-3"), edit_account_registration_path %>
  <% end %>
  
  <%= link_to "My Profile", edit_account_registration_path, class: "my-profile text-white" %>
</div>
